@{
    Layout = "_Layout";
}

<h1>Eau Claire's Salon - Admin Site</h1>
<hr>
<p>
    Follow the link below to view/add/edit your employees.<br>
    Each employee has a details page, where his/her clients and appointments can be viewed and added.
</p>
<p>@Html.ActionLink("☺ Manage Stylists", "Index", "Stylists")</p>
