@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card">
        <h1>Eau Claire's Salon - Admin Site</h1>
        <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
        <p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>
    </div>
</div>
